<div class="container">
  <h1 class="mb-4">Novo Proponente</h1>

  <%= render 'form', proponent: @proponent %>

  <%= link_to 'Voltar', proponents_path, class: "btn btn-outline-secondary mt-3" %>
</div>
